.detailAction {
  height: 98rpx;
  width: 100%;
  background-color: #F8F8F8;
  z-index: 9999; }
  .detailAction .leftss, .detailAction .rightss {
    width: 50%;
    height: 98rpx;
    display: flex; }
  .detailAction .leftss div.first {
    width: 33.3%;
    height: 98rpx;
    text-align: center;
    padding-top: 15rpx; }
    .detailAction .leftss div.first .img {
      width: 38rpx;
      height: 38rpx;
      display: block;
      margin: 0 auto; }
    .detailAction .leftss div.first .txt {
      font-size: 22rpx;
      margin-top: 10rpx; }
  .detailAction .rightss .dan {
    width: 50%;
    background-color: #FA6B27; }
  .detailAction .rightss .tuan {
    width: 50%;
    background-color: #F43131; }
  .detailAction .rightss .bTitle {
    color: #fff;
    text-align: center;
    line-height: 98rpx;
    font-size: 30rpx; }
    .detailAction .rightss .bTitle .bF {
      font-size: 24rpx; }
    .detailAction .rightss .bTitle .bS {
      font-size: 32rpx; }
    .detailAction .rightss .bTitle .danRight {
      font-size: 26rpx; }
  .detailAction .rightss .all {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 98rpx;
    background: #F43131;
    color: #fff; }
  .detailAction .rightss .disable {
    background: #efefef;
    color: #999; }
